
@import url("../assets/font/font.css");

* {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Futurice Monospaced", "Futurice Regular", sans-serif;
  background-color: #333238;

}

body {
  color: #fff;
  padding: 20px;
  font-size: 14px;
  line-height: 22px;
}

h1, h2, h3, .title {
  font-family: "Futurice Regular", "Futurice Monospaced", sans-serif;
  font-weight: bold;
  margin-bottom: 20px;
}

h2, .title {
  font-size: 20px;
  line-height: 25px;
}

a {
  color: #fd5f00;
  text-decoration: none;
  font-weight: bold
}

p {
  margin: 0 0 20px;
}

.hero-img {
  max-width: calc(100% + 40px);
  margin: 0 -20px 20px;
}

ul li {
  margin-left: 35px;
  margin-bottom: 5px;
  display: block;
}